{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'petapp/page/authpage/css/auth.css' %}">

{% endblock %}

{% block title %}Страница авторизации{% endblock %}

<!-- Content -->
{% block content %}
<!-- Login form -->
<div class="parralax-wrap">
  <section class="login user-box">
    <div class="wrapper">
      <form class="auth"  method="post">
        {% csrf_token %}
        <h3>Авторизация</h3>
        <div class="form-error">{{ form.non_field_errors }}</div>
            {% for field in form %}
              <div class="reg__item">
                <p>{{ field.errors }}</p>
                  <label for="{{ field.id_for_label }}" class="item__label">{{ field.label }}</label>
                  {{ field }}
              </div>
            {% endfor %}
        <a href="{% url 'reg' %}">
          <p>Нет аккаунта? Зарегистрируйтесь!</p>
        </a>
        <a href="{% url 'logout' %}">
          <p>Выйти</p>
        </a>
      </div>
      <input type="submit" value="Войти" class="btn-login">
      </form>
  </section>
</div>

{% endblock %}