.footer {
  margin-top: 138px;
}
.register {
  margin: 0 auto;
  display: flex;
  max-width: 728px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 122px;
  }
  .reg__item {
    gap: 9px;
    &:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(1) {
      margin-top: 45px;
    }
  }
  .r-side,
  .l-side {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
}
p {
  margin-top: 12px;
}
