.parralax-wrap {
  padding-bottom: 206px;
  h3{
    font-size: 24px;
    margin-top: 102px;
    text-align: center;
    font-family: "Gravity Regular", sans-serif;
    color: var(--six-text-color);
  }
}

.reg {
  max-width: 728px;
  flex-direction: row;
  width: 100%;
  gap: 122px;
  input{
    font-family: "Gravity Regular", sans-serif;
    color: var(--three-text-color);
  }
  .reg__item {
    gap: 9px;
    &:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(1) {
      margin-top: 45px;
    }
  }
  .r-side,
  .l-side {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
    max-width: 303px;
  }
  p {
    margin-top: 12px;
  }
}
