.header__top {
  padding: 0px calc(50% - 734px);
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-between;
  .header__nav {
    margin-left: 52px;
    ul {
      display: flex;
      gap: 92px;
      li a {
        font-family: "Gravity Regular", sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-size: 17.5px;
        position: relative;
        color: var(--main-text-color);
        cursor: pointer;
        transition: 0.5s;
        &::before {
          content: "";
          bottom: 0;
          right: 0;
          top: 21.5px;
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: var(--second-text-color);
          transition: 0.5s;
        }
        // Before
        &.active-under::before {
          width: 100%;
          left: 0;
        }
        &:hover::before {
          width: 100%;
          left: 0;
        }
        // Text
        &.active-under {
          color: var(--second-text-color);
        }
        &:hover {
          color: var(--second-text-color);
        }
      }
    }
  }
  .header__buttons {
    display: flex;
    gap: 51px;
    .active-color-swap {
      filter: invert(72%) sepia(33%) saturate(3647%) hue-rotate(313deg)
        brightness(94%) contrast(118%);
    }
  }
}
