.header__top {
  padding: 0px calc(50% - 734px);
  display: flex;
  align-items: center;
  margin-top: 45px;
  justify-content: space-between;
  .alarm-modal {
    position: relative;
    .modal__window {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      flex-direction: column;
      z-index: 5;
      width: 465px;
      min-height: 211px;
      height: auto;
      margin-left: -30.5rem;
      border-radius: 10px;
      margin-top: 15px;
      max-height: 506px;
      font-family: "Gravity Regular", sans-serif;
      background-color: var(--modal-bg-color);
      padding: 25px;
      transition: 0.5s;
      transform: translateY(-25%);
      &.open{
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
      }
      h3 {
        color: #323232;
        font-size: 16px;
      }
      p {
        text-align: center;
        margin-top: 5rem;
        font-size: 12px;
      }
    }
  }
  .header__nav {
    margin-left: 52px;
    ul {
      display: flex;
      gap: 92px;
      li a {
        font-family: "Gravity Regular", sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-size: 17.5px;
        position: relative;
        color: var(--main-text-color);
        cursor: pointer;
        transition: 0.5s;
        &::before {
          content: "";
          bottom: 0;
          right: 0;
          top: 21.5px;
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: var(--second-text-color);
          transition: 0.5s;
        }
        // Before
        &.active-under::before {
          width: 100%;
          left: 0;
        }
        &:hover::before {
          width: 100%;
          left: 0;
        }
        // Text
        &.active-under {
          color: var(--second-text-color);
        }
        &:hover {
          color: var(--second-text-color);
        }
      }
    }
  }
  .header__buttons {
    display: flex;
    gap: 51px;
  }
  .active-color-swap {
    filter: invert(72%) sepia(33%) saturate(3647%) hue-rotate(313deg)
      brightness(94%) contrast(118%);
  }
}
