// Header main
.header__main {
  padding: 0px calc(50% - 734px);
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  position: relative;
  height: 660px;
  .l-side {
    position: relative;
    z-index: 2;
    margin: 128px 0px 0px 57px;
    font-family: "Gravity Regular", sans-serif;
    max-width: 677px;
    h1 {
      font-size: calc(24px + 16 * (100vw / 1920));
      line-height: 45px;
      letter-spacing: 1.9px;
      span {
        color: var(--second-text-color);
      }
    }
    p {
      font-size: calc(14px + 10 * (100vw / 1920));
      margin-top: 26px;
      line-height: 29px;
      letter-spacing: 0.9px;
    }
  }
  .r-side {
    img {
      max-width: 120%;
      margin-top: -20px;
      height: auto;
      margin-left: -160px;
      width: auto\5;
      min-height: 500px;
      min-width: 600px;
    }
  }
}

// Bg image 2
img.paw2 {
  position: absolute;
  top: 1624px;
  left: 0;
}

// Swiper section
// Section product
.swiper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-top: 248px;
  font-family: "Gravity Regular", sans-serif;

  .swiper-wrapper {
    margin-top: 87px;
    z-index: 2;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      min-width: 160px;
    }
    .item__description {
      margin-top: 15px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      .item__price {
        font-size: calc(14px + 10 * (100vw / 1920));
      }

      .item__name {
        margin-top: 12px;
        font-size: calc(12px + 10 * (100vw / 1920));
        max-width: 200px;
        color: var(--three-text-color);
        span {
          color: var(--main-text-color);
        }
      }
      .item__rate {
        margin-top: 21px;
        display: flex;
        gap: 11px;
        font-size: calc(12px + 10 * (100vw / 1920));
        align-items: center;
        img{
          max-width: 100%;
          height: auto;
          width: calc(20px + 10 * (100vw / 1920));;
        }
      }
    }
  }
}

// Section why choose us
.choose-us {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  p.choose-us__descript {
    font-family: "Gravity Book", sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 32px;
    line-height: 22.5px;
  }
  p.choose-us__more {
    position: relative;
    margin-top: 20px;
    color: #7c7c7c;
    font-family: "Gravity Book", sans-serif;
    font-size: 20px;
    &::before {
      content: "";
      bottom: 0;
      right: 0;
      top: 23.5px;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #7c7c7c;
      transition: 0.5s;
    }
    &:hover::before {
      width: 100%;
      left: 0;
    }
  }
  img {
    margin-top: 55px;
    max-width: 100%;
    height: auto;
    min-height: 427px;
    min-width: 706px;
  }
}