.flex-row{
  display: flex;
  align-items: flex-start;
  gap: 126px;
}
// Header
.header {
  padding: 0px calc(50% - 734px);
  display: flex;
  flex-direction: column;
  &__main {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    position: relative;
    height: 660px;
    .l-side {
      position: relative;
      z-index: 2;
      margin: 128px 0px 0px 57px;
      font-family: "Gravity Regular", sans-serif;
      max-width: 677px;
      h1 {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 1.9px;
        span {
          color: var(--second-text-color);
        }
      }
      p {
        font-size: 24px;
        margin-top: 26px;
        line-height: 29px;
        letter-spacing: 0.9px;
      }
    }
    .r-side {
      
      z-index: 1;
      img {
        max-width: 120%;
        margin-top: -20px;
        height: auto;
        margin-left: -160px;
        width: auto\5;
        min-height: 500px;
        min-width: 600px;
      }
    }
  }
}

// Bg image 1
img.paw1 {
  position: absolute;
  top: 179px;
  left: 0;
}

// Section product top
.product-top {
  display: flex;
  margin-top: 248px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gravity Regular", sans-serif;

  .top__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 87px;
    flex-wrap: wrap;
    gap: 135px;
    z-index: 2;
    .item__description {
      margin-top: 15px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;

      .item__price {
        font-size: 22px;
      }

      .item__name {
        margin-top: 12px;
        font-size: 20px;
        max-width: 200px;
        color: var(--three-text-color);
        span {
          color: var(--main-text-color);
        }
      }
      .item__rate {
        margin-top: 21px;
        display: flex;
        gap: 11px;
        font-size: 20px;
        align-items: center;
      }
    }
  }
}

// Bg image 2
img.paw2 {
  position: absolute;
  top: 1624px;
  left: 0;
}

// Section why choose us
.choose-us {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  p.choose-us__descript {
    font-family: "Gravity Book", sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 32px;
    line-height: 22.5px;
  }
  p.choose-us__more {
    position: relative;
    margin-top: 20px;
    color: #7c7c7c;
    font-family: "Gravity Book", sans-serif;
    font-size: 20px;
    &::before {
      content: "";
      bottom: 0;
      right: 0;
      top: 23.5px;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #7c7c7c;
      transition: 0.5s;
    }
    &:hover::before {
      width: 100%;
      left: 0;
    }
  }
  img {
    margin-top: 55px;
    max-width: 100%;
    height: auto;
    width: auto\5;
    min-height: 427px;
    min-width: 706px;
  }
}

// Bg image 3
img.paw3 {
  position: absolute;
  top: 2242px;
  left: 973.31px;
}

