
.auth,.reg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 12px;
    max-width: 303px;
    width: 100%;
    color: var(--six-text-color);
    font-family: "Gravity Regular", sans-serif;
    h3 {
      font-size: 24px;
      margin-top: 102px;
      text-align: center;
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: 6px;
      &:nth-child(2) {
        margin-top: 45px;
      }
      .item__label {
        font-size: 18px;
      }
      input {
        width: 100%;
        height: 40px;
        background-color: var(--four-bg-color);
        border-radius: 10px;
        padding-right: 16px;
        padding-left: 16px;
      }
    }
    p {
      color: var(--six-text-color);
      text-align: center;
    }
  }
  input.btn-login {
    align-self: flex-end;
    font-family: "Gravity Regular", sans-serif;
    font-size: 15px;
    color: var(--four-text-color);
    background-color: var(--second-bg-color);
    padding: 11px 38px;
    border-radius: 10px;
    transition: background-color 0.2s linear;
    cursor: pointer;
    margin-top: 69px;
    margin-right: 59px;
    &:hover {
      background-color: var(--main-bg-hover);
    }
  }
  .img-wrap {
    height: 831px;
    background: url(../../../GLOBAL/img/background/paw1.png) no-repeat;
  }
  .user-box{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 72px auto;
    max-width: 1027px;
    width: 100%;
    height: 571px;
    background-color: var(--main-bg-color);
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    border-radius: 10px;
  }