.about {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 74px;
  position: relative;
  h2{
    letter-spacing: 1px;
    text-align: center;
  }
  &__descript{
    display: flex;
    flex-direction: column;
    gap: 31px;
    font-family: "Gravity Book", sans-serif;
    font-size: 24px;
    max-width: 1172px;
    min-width: 600px;
    letter-spacing: 0.9px;
    padding: 0px calc(50% - 577px);
    p{
      line-height: 29px;
    }
  }
}

.join-us{
  margin-top: 56px;
}

.product-banner{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-top: 90px;
    max-width: 100%;
    height: auto;
    min-height: 427px;
    min-width: 706px;
  }
}

img.paw1{
  top: 134px;
}

// Bg image 2
img.paw2 {
  top: 1127px;
}


