.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gravity Regular", sans-serif;
  margin-top: 74px;
  padding-bottom: 110px;
  .product__add {
    width: 100%;
    margin-top: 26px;
    padding: 23px;
    border: none;
    background: url(../../../components/products/img/basket.svg) no-repeat
      center center;
    background-color: var(--second-bg-color);
    border-radius: 10px;
    transition: background-color 0.2s linear;
    cursor: pointer;
    &:hover {
      background-color: var(--main-bg-hover);
    }
  }
  .p__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 87px;
    flex-wrap: wrap;
    gap: 115px;
    max-width: 1200px;
    z-index: 2;
    .p__item {
      min-width: 115px;
    }
    .item__description {
      margin-top: 15px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      .item__price {
        font-size: 22px;
      }

      .item__name {
        margin-top: 12px;
        font-size: 20px;
        max-width: 200px;
        color: var(--three-text-color);
        span {
          color: var(--main-text-color);
        }
      }
      .item__rate {
        margin-top: 21px;
        display: flex;
        gap: 11px;
        font-size: 20px;
        align-items: center;
      }
    }
  }
}
