{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'petapp/page/basketpage/css/basket.css' %}">

{% endblock %}

{% block title %}Моя корзина{% endblock %}

<!-- Content -->
{% block content %}

<!-- Section - basket -->
<section class="basket">
  <h2>Моя корзина</h2>
  <h3>здесь пока пусто</h3>
</section>

<!-- Background paw1 -->
<!-- alternative solution, because the image is more scrollable pages -->
<div class="img-wrap"></div>

{% endblock %}