{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'petapp/page/catalogpage/css/catalog.css' %}">

{% endblock %}

{% block title %}Каталог{% endblock %}

<!-- Content -->
{% block content %}
<div class="parralax-wrap">
  <section class="products">
    <h2>Каталог</h2>
    <div class="p__wrapper">
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
      <div class="p__item">
        <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product" class="title">
        <div class="item__description">
          <h4 class="item__price">989₽</h4>
          <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
          <div class="item__rate">
            <img src="{% static 'petapp/GLOBAL/img/rating/rate.svg' %}" alt="rate">
            <h3 class="rate__text">4.9</h3>
          </div>
          <input type="button" class="product__add"></button>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}