{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'petapp/GLOBAL/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'petapp/components/products/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'petapp/page/mainpage/css/main.css' %}">
    <title>PuffBall</title>
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        <header class="header">
            <div class="header__top">
                <img src="{% static 'petapp/GLOBAL/img/logo.png' %}" alt="logo">
                <nav class="header__nav">
                    <ul>
                        <li><a href="{% url 'home' %}" class="{{ home_page }}">Главная</a></li>
                        <li><a href="{% url 'catalog' %}" class="{{ catalog_page }}">Каталог</a></li>
                        <li><a href="{% url 'contact' %}" class="{{ contact_page }}">Контакты</a></li>
                        <li><a href="{% url 'about' %}" class="{{ about_page }}">О нас</a></li>
                    </ul>
                </nav>
                <div class="header__buttons">
                    <img src="{% static 'petapp/page/mainpage/img/header/alarm.svg' %}" alt="alarm">
                    <img src="{% static 'petapp/page/mainpage/img/header/basket.svg' %}" alt="basket">
                    <img src="{% static 'petapp/page/mainpage/img/header/person.svg' %}" alt="person">
                </div>
            </div>
            <div class="header__main">
                <div class="l-side">
                    <h1>Волшебные <span>скидки</span> и <span>выгодные предложения!</span></h1>
                    <p>Откройте ворота в мир заботы о вашем<br>питомце вместе с PuffBall!</p>
                </div>
                <div class="r-side">
                    <img src="{% static 'petapp/page/mainpage/img/header/animals.png' %}" alt="animals">
                </div>
            </div>
        </header>

        <!-- Background paw1 -->
        <img src="{% static 'petapp/GLOBAL/img/background/paw1.png' %}" alt="paw" class="paw1">

        <!-- Section popular product -->
        <section class="products">
            <h2>Популярное</h2>
            <div class="p__wrapper">
                <div class="p__item">
                    <img src="{% static 'petapp/page/mainpage/img/product-top/product_1.png' %}" alt="product">
                    <div class="item__description">
                        <h4 class="item__price">989₽</h4>
                        <p class="item__name"><span>Wagg</span> / Корм для собак 5kg</p>
                        <div class="item__rate">
                            <img src="{% static 'petapp/page/mainpage/img/product-top/rate.svg' %}" alt="rate">
                            <h3 class="rate__text">4.9</h3>
                        </div>
                    </div>
                </div>
                <div class="p__item">
                    <img src="{% static 'petapp/page/mainpage/img/product-top/product_2.png' %}" alt="product">
                    <div class="item__description">
                        <h4 class="item__price">499₽</h4>
                        <p class="item__name"><span>Wagg</span> / Корм для морских свинок 4kg</p>
                        <div class="item__rate">
                            <img src="{% static 'petapp/page/mainpage/img/product-top/rate.svg' %}" alt="rate">
                            <h3 class="rate__text">4.8</h3>
                        </div>
                    </div>
                </div>
                <div class="p__item">
                    <img src="{% static 'petapp/page/mainpage/img/product-top/product_3.png' %}" alt="product">
                    <div class="item__description">
                        <h4 class="item__price">299₽</h4>
                        <p class="item__name"><span>Wagg</span> / Угощение для кошек 60g</p>
                        <div class="item__rate">
                            <img src="{% static 'petapp/page/mainpage/img/product-top/rate.svg' %}" alt="rate">
                            <h3 class="rate__text">4.8</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section come join us -->
        <section class="join-us">
            <h2>Присоединяйтесь к акции PuffGift!</h2>
            <p>Получите уникальную возможность порадовать своих любимцев! Зарегистрируйтесь<br>
                и получите на первую покупку 25% скидку. Кроме того, акция PuffGift дает возможность получать<br>первым
                уведомления о новинках и розыгрышах.</p>
            <form class="go-join">
                <input type="email" class="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="30"
                    placeholder="E-Mail" required>
                <input type="button" class="regisration" value="Регистрация">
            </form>
        </section>

        <!-- Background paw2 -->
        <img src="{% static 'petapp/GLOBAL/img/background/paw2.png' %}" alt="paw" class="paw2">

        <!-- Section why choose us -->
        <section class="choose-us">
            <h2>Почему нас выбирают?</h2>
            <p class="choose-us__descript">Одним из ключевых преимуществ нашего зоомагазина
                является то, что все наши корма и различные<br>
                атрибуты выполнены исключительно из натуральных
                природных материалов. Мы понимаем, что<br>здоровье и
                благополучие наших питомцев - ваш приоритет, поэтому
                мы уделяем особое внимание<br>выбору качественных и
                безопасных продуктов для<br>животных.</p>
            <p class="choose-us__more">Подробнее</p>
            <img src="{% static 'petapp/page/mainpage/img/choose-us/products.png' %}" alt="products">
        </section>
    </div>

    <!-- Background paw3 -->
    <img src="{% static 'petapp/GLOBAL/img/background/paw3.png' %}" alt="paw" class="paw3">

    <!-- Footer -->
    <footer class="footer">
        <div class="flex-row">
            <div class="footer__item">
                <h3>контакты</h3>
                <address class="item__descript">
                    <div class="item-social">
                        <img src="{% static 'petapp/page/mainpage/img/contact/city.svg' %}" alt="address">
                        <p class="social__text">ул.Гагарина 27</p>
                    </div>
                    <div class="item-social">
                        <img src="{% static 'petapp/page/mainpage/img/contact/time.svg' %}" alt="time">
                        <p class="social__text">09:00 - 20:00, ежедневно</p>
                    </div>
                </address>
            </div>
            <div class="footer__item">
                <h3>контакты</h3>
                <address class="item__descript">
                    <div class="item-social">
                        <img src="{% static 'petapp/page/mainpage/img/contact/facebook.svg' %}" alt="facebook">
                        <p class="social__text">Facebook</p>
                    </div>
                    <div class="item-social">
                        <img src="{% static 'petapp/page/mainpage/img/contact/twitter.svg' %}" alt="twitter">
                        <p class="social__text">Twitter</p>
                    </div>
                    <div class="item-social">
                        <img src="{% static 'petapp/page/mainpage/img/contact/instagram.svg' %}" alt="instagram">
                        <p class="social__text">Instagram</p>
                    </div>
                    <div class="item-social">
                        <img src="{% static 'petapp/page/mainpage/img/contact/phone.svg' %}" alt="phone">
                        <p class="social__text">8 (800) 555-35-35</p>
                    </div>
                </address>
            </div>
        </div>
        <p class="signature">&copy; 2024 <span class="s-regular">Зоомагазин</span> "PuffBall"</p>
    </footer>

</body>

</html>