{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'petapp/page/regpage/css/reg.css' %}">

{% endblock %}

{% block title %}Страница регистрации{% endblock %}

<!-- Content -->
{% block content %}
    <!-- Reg form -->
    <div class="parralax-wrap">
      <section class="check-in user-box">
        <h3>Регистрация</h3>
        <div class="wrapper">
          <form class="reg">
            <div class="l-side">
              <div class="reg__item">
                <label for="surname" class="item__label">Фамилия</label>
                <input type="surname" name="surname" id="surname" />
              </div>
              <div class="reg__item">
                <label for="name" class="item__label">Имя</label>
                <input type="name" name="name" id="name" />
              </div>
              <div class="reg__item">
                <label for="patrynomic" class="item__label">Отчество</label>
                <input type="patrynomic" name="patrynomic" id="patrynomic" />
              </div>
            </div>
            <!-- Right side -->
            <div class="r-side">
              <div class="reg__item">
                <label for="phone" class="item__label">Номер телефона</label>
                <input type="phone" name="phone" id="phone" />
              </div>
              <div class="reg__item">
                <label for="email" class="item__label">Электронная почта</label>
                <input type="email" name="email" id="email" />
              </div>
              <div class="reg__item">
                <label for="password" class="item__label">Пароль</label>
                <input type="password" name="password" id="password" />
              </div>
            </div>
          </form>
        </div>
        <input type="button" value="Зарегистрироваться" class="btn-login" />
      </section>
    </div>


  <!-- Background paw1 -->
  <!-- alternative solution, because the image is more scrollable pages -->
  <div class="img-wrap"></div>

  <script src="https://unpkg.com/imask"></script>
  <script src="{% static 'petapp/page/regpage/reg.js' %}"></script>
{% endblock %}