{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'petapp/GLOBAL/css/global.css' %}" />
  <link rel="stylesheet" href="{% static 'petapp/page/regpage/css/reg.css' %}" />
  <title>Регистрация</title>
</head>

<body>
  <div class="wrapper">
    <div class="header__top">
      <img src="{% static 'petapp/GLOBAL/img/logo.png' %}" alt="logo" />
      <nav class="header__nav">
        <ul>
          <li>
            <a href="{% url 'home' %}" class="{{ home_page }}">Главная</a>
          </li>
          <li>
            <a href="{% url 'catalog' %}" class="{{ catalog_page }}">Каталог</a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="{{ contact_page }}">Контакты</a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="{{ about_page }}">О нас</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons">
        <img src="{% static 'petapp/page/mainpage/img/header/alarm.svg' %}" alt="alarm" />
        <a href="{% url 'basket' %}"><img src="{% static 'petapp/page/mainpage/img/header/basket.svg' %}" alt="basket"
            class="{{ basket_page }}" /></a>
        <a href="{% url 'auth' %}"><img src="{% static 'petapp/page/mainpage/img/header/person.svg' %}" alt="person"
            class="{{ reg_page }}" /></a>
      </div>
    </div>
    <!-- Reg form -->
    <div class="parralax-wrap">

      <section class="check-in user-box">
        <h3>Регистрация</h3>
        <div class="wrapper">
          <form class="reg">
            <div class="l-side">
              <div class="reg__item">
                <label for="surname" class="item__label">Фамилия</label>
                <input type="surname" name="surname" id="surname" />
              </div>
              <div class="reg__item">
                <label for="name" class="item__label">Имя</label>
                <input type="name" name="name" id="name" />
              </div>
              <div class="reg__item">
                <label for="patrynomic" class="item__label">Отчество</label>
                <input type="patrynomic" name="patrynomic" id="patrynomic" />
              </div>
            </div>
            <!-- Right side -->
            <div class="r-side">
              <div class="reg__item">
                <label for="phone" class="item__label">Номер телефона</label>
                <input type="phone" name="phone" id="phone" />
              </div>
              <div class="reg__item">
                <label for="email" class="item__label">Электронная почта</label>
                <input type="email" name="email" id="email" />
              </div>
              <div class="reg__item">
                <label for="password" class="item__label">Пароль</label>
                <input type="password" name="password" id="password" />
              </div>
            </div>
          </form>
        </div>

        <input type="button" value="Зарегистрироваться" class="btn-login" />
      </section>

    </div>
  </div>

  <!-- Background paw1 -->
  <!-- alternative solution, because the image is more scrollable pages -->
  <div class="img-wrap"></div>

  <!-- Footer -->
  <footer class="footer">
    <div class="flex-row">
      <div class="footer__item">
        <h3>адрес</h3>
        <address class="item__descript">
          <div class="item-social">
            <img src="{% static 'petapp/page/mainpage/img/contact/city.svg' %}" alt="address" />
            <p class="social__text">ул.Гагарина 27</p>
          </div>
          <div class="item-social">
            <img src="{% static 'petapp/page/mainpage/img/contact/time.svg' %}" alt="time" />
            <p class="social__text">09:00 - 20:00, ежедневно</p>
          </div>
        </address>
      </div>
      <div class="footer__item">
        <h3>контакты</h3>
        <address class="item__descript">
          <div class="item-social">
            <img src="{% static 'petapp/page/mainpage/img/contact/facebook.svg' %}" alt="facebook" />
            <p class="social__text">Facebook</p>
          </div>
          <div class="item-social">
            <img src="{% static 'petapp/page/mainpage/img/contact/twitter.svg' %}" alt="twitter" />
            <p class="social__text">Twitter</p>
          </div>
          <div class="item-social">
            <img src="{% static 'petapp/page/mainpage/img/contact/instagram.svg' %}" alt="instagram" />
            <p class="social__text">Instagram</p>
          </div>
          <div class="item-social">
            <img src="{% static 'petapp/page/mainpage/img/contact/phone.svg' %}" alt="phone" />
            <p class="social__text">8 (800) 555-35-35</p>
          </div>
        </address>
      </div>
    </div>
    <p class="signature">
      &copy; 2024 <span class="s-regular">Зоомагазин</span> "PuffBall"
    </p>
  </footer>

  <script src="https://unpkg.com/imask"></script>
  <script src="{% static 'petapp/page/regpage/reg.js' %}"></script>
</body>

</html>