{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'petapp/page/userpage/css/user.css' %}">

{% endblock %}

{% block title %}Страница пользователя{% endblock %}ы

<!-- Content -->
{% block content %}
<!-- User info -->
<div class="user parralax-wrap">
  <!-- User Box -->
  <section class="user-info user-box">
    <div class="user__img">
      <img src="{{ MEDIA_URL }}{{ customer.photo_avatar.url }}" alt="avatar" class="user__img">
    </div>
    <div class="user__descript">
      <h3 class="user-name">
        {{ user.first_name }} {{ user.last_name }} {{ customer.patronymic }}
      </h3>
      <p class="user-phone">{{ customer.phone }}</p>
      <p class="user-mail">{{ user.email }}</p>
    </div>
    <a href="{% url 'user_edit' %}" class="user-edit"><input type="button"></a>
    <a href="{% url 'logout' %}" class="user-leave"><input type="submit" value="Выйти"></a>
  </section>

  <!-- Basket Box -->
  <section class="basket user-box">
    <h3 class="basket-title">Моя корзина</h3>
    <div class="basket-descript">
      <p class="descript-amount">4 заказа</p>
      <p class="descript-price">15.866 ₽</p>
    </div>
    <a href="{% url 'basket' %}">
      <input type="button" class="basket-button" value="Подробнее">
    </a>
  </section>

  <!-- Delivery Box -->
  <section class="delivery user-box">
    <h3 class="delivery-title">Мои доставки</h3>
    <div class="delivery-descript">
      <p class="descript-amount">4 заказа</p>
    </div>
    <!-- need replace href -->
    <a href="{% url 'basket' %}">
      <input type="button" class="delivery-button" value="Подробнее">
    </a>
  </section>
</div>

{% endblock %}