.user__img {
  max-width: 110px;
  max-height: 110px;
  margin: 30px auto;
}
.edit-info {
  width: 100%;
  gap: 0;
  column-gap: 122px;
  row-gap: 73px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 500px) {
    row-gap: 17px;
  }
}
.reg {
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
  & .reg__item{
    @media screen and (max-width: 500px) {
      gap: 3px;
    }
  }
  & .r-side, & .l-side{
    @media screen and (max-width: 500px) {
      gap: 17px;
    }
  }
}
.user-box {
  min-height: 571px;
  height: auto;
  align-items: center;
}
input.btn-login {
  margin-top: 0;
  color: var(--four-text-color);
  margin-right: 0;
  margin-bottom: 0;
  @media screen and (max-width: 500px) {
    padding: 7px 33px;
    font-size: 16px;
  }
}
.form__buttons {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-left: 32em;
  @media screen and (max-width: 500px) {
    margin-left: 0;
    margin-top: 5px;
  }
}

.reg__item.--phone {
  @media screen and (max-width: 800500pxpx) {
    margin-top: 0 !important;
  }
}
.reg__item{
  width: 303px;
}

.user-leave {
  padding-right: 25px;
  @media screen and (max-width: 500px) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px 25px;
  }
  input {
    font-size: 15px;
    color: var(--six-text-color);
    transition: 0.2s;
    &:hover {
      text-shadow: 1px 2px 10px #57a09d;
    }
    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
}
.form__add-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 500px) {
    margin-top: -5.4rem;
  }
}
.input-file span {
  font-family: "Gravity Regular", sans-serif;
  cursor: pointer;
  font-size: 15px;
  color: var(--six-text-color);
  transition: background-color 0.2s;
}
.input-file input[type="file"] {
  display: none;
}
