// Section come join us
.join-us, .buy-us {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  margin: 175px auto 0px auto;
  max-width: 1230px;
  width: 100%;
  background-color: var(--main-bg-color);
  padding-bottom: 46px;
  min-height: 263px;
  border-radius: 10px;
  color: var(--four-text-color);
  h2 {
    margin-top: 46px;
    letter-spacing: 1px;
    text-align: center;
  }
  p {
    text-align: center;
    font-family: "Gravity Book", sans-serif;
    font-size: 20px;
    margin-top: 29px;
    letter-spacing: 0.4px;
    line-height: 23px;
    padding: 0px 25px;
  }
  form.go-join {
    display: flex;
    margin: 32px 89px 0px 89px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    &::before{
      content: "";
      margin: 0 3px;
      top: 47.5px;
      position: absolute;
      width: 100%;
      height: 1.5px;
      background-color: var(--main-text-color);
    }
    input.email {
      background-color: transparent;
      border: none;
      font-family: "Gravity Light", sans-serif;
      font-size: 23px;
      outline: none;
      width: 50.56%;
      &::placeholder {
        color: rgba($color: #000000, $alpha: 0.4);
      }
    }
  }
  input.regisration, input.login {
    font-family: "Gravity Regular", sans-serif;
    font-size: 20px;
    color: var(--four-text-color);
    background-color: var(--second-bg-color);
    padding: 15px 38px;
    border: none;
    margin-top: -16px;
    border-radius: 10px;
    transition: background-color 0.2s linear;
    cursor: pointer;
    &:hover{
      background-color: var(--main-bg-hover);
    }
  }
}