.products {
  margin-top: 74px;
  .product__add {
    margin-top: 26px;
    padding: 23px;
    border: none;
    background: url(../../../components/products/img/basket.svg) no-repeat
      center center;
    background-color: var(--second-bg-color);
    border-radius: 10px;
    transition: background-color 0.2s linear;
    cursor: pointer;
    &:hover {
      background-color: var(--main-bg-hover);
    }
  }
}

img.paw1{
  top: 133.5px;
}
img.paw2 {
  top: 1393px;
  left: 0;
}

img.paw3 {
  top: 2079px;
  left: 958.31px;
}
