// Reset style
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

// Fonts
@import url(../fonts/fonts.css);

// Header
@import url(../../components/navbar/css/navbar.css);

// Join Us
@import url(../../components/join-us/css/join-us.css);

// Footer
@import url(../../components/footer/css/footer.css);

// Users forms
@import url(../../components/users-form/css/users.css);

// Vars
:root {
  // Text
  --main-text-color: #000000;
  --second-text-color: #ff7269;
  --three-text-color: #555555;
  --four-text-color: #ffffff;
  --five-text-color: #8d8d8d;
  --six-text-color: #43807f;

  // Bg
  --main-bg-color: #7bc3c2;
  --second-bg-color: #ffaaa3;
  --three-bg-color: #ffeeee;
  --four-bg-color: #ffffff;
  --five-bg-color: #4f9695;
  --modal-bg-color: #f8f8f0;

  // HoverBg
  --main-bg-hover: #ea8b83;
}

// Group Styles
html {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  position: relative;
}
input[type="radio" i] {
  margin: 0;
}

.wrapper {
  padding: 0px calc(0px + 26 * (100vw / 1920));
}

.global__wrapper {
  background-image: url(../../GLOBAL/img/background/paws.svg);
  background-repeat: no-repeat;
  background-color: white;
  background-position-y: 180px;
  background-position-x: -25px;
}

.parralax-wrap {
  padding-bottom: 110px;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  gap: 126px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
h2 {
  font-family: "Gravity Regular", sans-serif;
  font-size: calc(20px + 12 * (100vw / 1920));
  text-align: center;
}

input {
  display: flex;
  padding-block: 0px;
  background-color: transparent;
  padding-inline: 0px;
  outline: none !important;
  cursor: pointer;
  border: none !important;
  outline-offset:0 !important;
  box-sizing: border-box;
  &:focus,&:active{
    border: none !important;
    outline-offset:0 !important;
    outline: none !important;
  }
}
